<div class="c-container">
  <div class="c-container__inner">
    <h2 class="c-header">Click <%= link_to 'here', admin_root_path, class: "c-header__link" %> to access the admin panel</h2>
  </div>
</div>