# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore .env login details for admin view
/.env

# Ignore redis binary dump (dump.rdb) files
*.rdb
/dump.rdb

# Ignore auto Mac generated DS file
*.DS_Store