@import 'components/c-nav';
@import 'components/c-articles';
@import 'components/c-footer';

body {
  background: #060188;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0 auto;
  color: #fff;
}