<nav class="c-nav">
  <div class="c-nav__logo">
  <h1>Landing Page</h1>
  </div>
  <ul class="c-nav__lists">
    <li class="c-nav__lists--item"><%= link_to 'Login', admin_root_path %></li>
  </ul>
</nav>